:root{
    --main--color: #ff9800
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 2000px
}
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto
}
/* Start Sitting Box */
.sittings-box {
    position: fixed;
    margin-left: -200px;
    top: 0;
    width: 200px;
    background-color: white;
    min-height: 100vh;
    transition: 0.5s;
    z-index: 100;
}
.sittings-box.open{
    margin-left: 0
}
.sittings-box .toggle {
    font-size: 20px;
    position: absolute;
    right: -38px;
    top: 100px;
    background-color: white;
    padding: 9px;
    text-align: center;
    cursor: pointer;
}
.sittings-box .option-box{
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
}
.sittings-box .option-box h4{
    margin: 0;
    color: #666;
    font-size: 14px
}
.sittings-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;;
    margin: 10px 0 0
}
.sittings-box .option-box .colors-list li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    border: 3px solid #eee
}
.sittings-box .option-box .colors-list li:first-child{
    background-color: #ff9800;
}
.sittings-box .option-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.sittings-box .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.sittings-box .option-box .colors-list li:nth-child(4){
    background-color: #03a9f4;
}
.sittings-box .option-box .colors-list li:nth-child(5){
    background-color: #4caf50;
}
.sittings-box .option-box .colors-list li.active{
    opacity: 1;
    border-color: white;
}
.sitting-container .random-backgrounds .yes,
.sitting-container .random-backgrounds .no{
    width: 50px;
    background-color: #009688;
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer
}
.sitting-container .random-backgrounds span.active{
    opacity: 1;
}
/* End Sitting Box */
/* Start Landing Page */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/01.jpg);
    background-size: cover;
}
.landing-page .overlay{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0.6
}
.header-area{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px
}
.header-area .logo{
    width: 200px;
    padding: 15px;
    font-weight: bold;
}
.header-area .links{
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: right;
    font-size: 15px;
    padding-left: 0;
    padding-right: 20px;
}
.header-area .links li{
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a{
    color: white;
    text-decoration: none;
    transition: 0.5s
}
.header-area .links li a:hover,
.header-area .links li a.active{
    color: var(--main--color)
}
.introduction-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    max-width: 40%
}
.introduction-text h1{
    font-size: 34px;
    margin: 0 0 12px
}
.introduction-text h1 span{
    color: var(--main--color)
}
/* End Landing Page */
/* Start About Us */
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex
}
.about-us .info-box{
    padding: 30px;
    flex: 1
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px
}
.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
    margin: 0
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 250px
}
/* End About Us */
/* Start Skills Section */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center
}
.skills .skill-box{
    background-color: white;
    display: flex;
    padding: 15px;
    margin-bottom: 15px
}
.skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
.skills .skill-box .skill-progress{
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: all .8s
}
/* Start Skills Section */
/* Start Galary */
.galary{
    padding-top: 50px;
    padding-bottom: 50px
}
.galary h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center
}
.galary .images-box{
    text-align: center;
}
.galary .images-box img{
    width: 200px;
    height: 120px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}
.popup-overLay{
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}
.popupBox{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 12px;
    z-index: 1001;
}
.popupBox img{
    max-width: 100%;
}
.popupBox h3{
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main--color);
}
.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 38px;
    height: 38px;
    background-color: var(--main--color);
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
    border-radius: 50%;
}
/* End Galary */
/* Start timeline */
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
    font-weight: bold
}
.clearfix{
    clear: both;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left::before{
    right: -35px;
}
.timeline .timeline-content .right::before{
    left: -35px
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid var(--main--color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .right{
    float: right;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: white
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 10px
}
.timeline .timeline-content .content p{
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.timeline .timeline-content .left .content::before{
    border-color: transparent transparent transparent white;
    right: -20px;
}
.timeline .timeline-content .right .content::before{
    border-color: transparent white transparent transparent;
    left: -20px;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before{
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
}
/* Start timeline */
/* Start Features */
.features{
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img{
    width: 120px;
    border-radius: 50%;
}
.features .feat-box h4{
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative
}
.features .feat-box h4::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* End Features */
/* Start testimonials */
.testimonials{
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
    z-index: -12;
}
.testimonials::after{
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
    z-index: -12;
}
.testimonials h2{
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
}
.testimonials .ts-box{
    position: relative;
    background-color: white;
    padding: 30px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 7px;
}
.testimonials .ts-box .stars{
    text-align: center;
    margin-bottom: 10px;
}
.testimonials .ts-box .stars i{
    color: #ecec07;
    font-size: 29px;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 18px;
    color: #757575;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px
}
.testimonials .ts-box .person-info{
    display: flex;
    overflow: hidden;
}
.testimonials .ts-box .person-info img{
    border: 1px solid var(--main--color);
    border-radius: 50%;
    margin-right: 20px;
}
.testimonials .ts-box .person-info h4{
    margin: 10px 0 5px
}
.testimonials .ts-box .person-info p{
    margin: 0;
    color: #757171;
}
.parent{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
}
/* End testimonials */